body{
	background-color: #c6c6c6;
	background-image: url('bgi.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}

nav{
	position: fixed;
	z-index: 1;
	background-color: black;
	color: white;
	top:0;
	width:100%;
	height: 70px;
	text-align: center;
	font-size: 32px;
}

a{
	color: inherit;
	padding: 5px;
	display: inline-block;
	text-decoration: none;
}

.links{
	margin: 5px;
	padding: 8px 15px 5px 15px;
	height: 47px;
}

.links:hover{
	background-color: lightgray;
	border-radius: 5px;
	color: black;
}

.search {
	display: inline-flex;
	flex-direction: row;
	float: right;
	padding: 15px;
}

#logo {
	float: left;
	top:0;
}

footer {
	background-color: black;
	color: white;
	margin-top: auto;
	text-align: center;
}

.jssor {
	position: relative;
	margin: auto;
	width: 810px;
	height: 480px;
	overflow: hidden;
	visibility: hidden;
	background-color: #000000;
}

.banner{
	margin-top:75px;
	margin-bottom:5px;
}

.jssort11 {
	position:absolute;
	right:5px;
	font-family:Arial, Helvetica, sans-serif;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	width:200px;
	height:400px;
}

.jssora02l, .jssora02r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url('img/a02.png') no-repeat;
	overflow: hidden;
}

.jssora02l, .jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r, .jssora02r.jssora02rdn { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssort11 .pav .i { border: white 1px solid;}
.jssort11 .pav .c, .jssort11 .p:hover .c { color: #fc9835;}
.jssort11 .pav .t, .jssort11 .p:hover .t { color: #fff;}

.jssort11 .p {
	position: absolute;
	width: 200px;
	height: 82px;
	background: #181818;
}

.jssort11 .tp {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
}

.jssort11 .i, .jssort11 .pav:hover .i {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 50px;
	height: 75px;
	border: white 1px dashed;
}
* html .jssort11 .i {
	width /**/: 52px;
	height /**/: 77px;
}
.jssort11 .t, .jssort11 .pav:hover .t {
	position: absolute;
	top: 3px;
	left: 68px;
	width: 129px;
	height: 77px;
	line-height: 32px;
	text-align: center;
	color: #fc9835;
	font-size: 13px;
	font-weight: 700;
}
.jssort11 .c, .jssort11 .pav:hover .c {
	position: absolute;
	top: 38px;
	left: 60px;
	width: 150px;
	height: 31px;
	line-height: 31px;
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	overflow: hidden;
}
.jssort11 .t, .jssort11 .c {
	transition: color 2s;
	-moz-transition: color 2s;
	-webkit-transition: color 2s;
	-o-transition: color 2s;
}
.jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}
.jssort11 .p:hover, .jssort11 .pav:hover { background: #333;}
.jssort11 .pav, .jssort11 .p.pdn { background: #462300;}

.about {
	display: flex;
	-o-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	text-align: left;
	padding: 10px;
	font-size: 12px;
	color: black;
	background-color: darkgray;
}

.about-tricami, .about-event {
	margin: 5px;
	padding: 5px;
}
